DATABRICKS_CONFIG_PROFILE=fevm-dante-classic-stable
DATABRICKS_WAREHOUSE_ID=your_sql_warehouse_id
DATABRICKS_GENIE_SPACE_ID=your_genie_space_id
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=amarbank-control-center
FLASK_RUN_HOST=localhost
